services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    develop:
      watch:
        - path: package.json
          action: rebuild

        - path: yarn.lock
          action: rebuild

        - path: .
          target: /app
          action: sync
